.search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: center;
    margin-top: 3rem;
    input {
        width: 50%;
        margin-bottom: 2rem;
        height: 3rem;
        border: 2px solid gainsboro;
        border-radius: 6px;
        padding: 0.5rem;    
    }
    label {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.small-search-icon {
    font-size: 2rem !important;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
}

.for-cursor {
    :hover {
        cursor: pointer;
    }
}