.toolbar-container {
    background-color:#ffd5ab;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 8rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        margin: 0px;
        min-width: 18rem;
    }
    div{
        min-width: 50%;
    }
    .fav-container, .clean-up {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        p {
            margin-right: 1rem;
            font-weight: 500;
        }
    }
}

.clean-up {
    text-decoration: unset;
    color: unset;
}


.heart-icon {
    font-size: 2rem !important;
    background-color: transparent;
}


@media only screen and(max-width: 630px) {
    .fav-container {
        p {
            display: none;
        }
    }  

    .toolbar-container {
        div {
            min-width: unset;
        }
    }
        
    .title-app-container {
        min-width: 93% !important;
    }
}