.results-box {
    background-color: #ecdfc8;
    width: 50%;
    border: 1rem solid white;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 1.5rem;
    max-width: 20rem;
    min-width: 50%;
    h2 {
        margin: 0;
        margin-bottom: 1rem;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
    }
    p {
        margin-top: 1rem;
        margin: 0px;
    }

    .tiny-heart-container {
        width: 100%;
        text-align: end;
        .small-icon {
            font-size: 2rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.results-box-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.fontawesome-icon {
    font-size: 7rem;
    max-width: 6rem;
    max-height: 6rem;
}

.box-head-container {
    display: flex;
    flex-direction: column;
}

.temp-container {
    display: flex;
    padding-top: 0;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    .temp {
        font-size: 5rem;
    }
}

.results-await-container {
    color:  black;
    opacity: 0.5;
}

.container-to-show {
    color: grey;
    width: 100%;
    text-align: center;
}

.opacity {
    opacity: 0.5;
}

.no-opacity {
    opacity: 1!important;
}

@media only screen and(min-width: 985px) {
    .results-box {
        min-width: 33%;
    }
}

@media only screen and(max-width: 630px) {
    .results-box-container {
        min-width: 33%;
        align-items: center;
        flex-direction: column;
    }
    .results-box {
        width: 100%;
        min-width: 26rem; 
    }
}